<div class="level-item has-centered-text">
  <div>
    <a class="nav-link">
      <%= link_to 'following', followings_path(@user.username) %>
      <%= @user.following.count %>
    </a>
  </div>
</div>
<div>
  <% @user.following.each do |following| %>
  <div>
  <%= gravatar_image_tag(@user.email, size: 64, alt: @user.name) %>
  </div>
  <div>
    <%= following.username %>
    <%= render 'users/follow_button', user: following %><br>
  </div>
  <% end %>
</div>
<div>
  <%= link_to 'Back', :back %>
</div>
