<% if current_user.id != user.id %>
<div>
  <div>
    <div>
      <% if !current_user.following?(user) %>
      <%= form_with(current_user.active_relationship.build) do |f| %>
      <div><%= hidden_field_tag :followed_id, user.id %></div>
      <%= f.submit "Follow", class: "btn btn-primary" %>
      <% end %>
      <% else %>

      <%= form_with(current_user.active_relationship.find_by(followed_id: user.id),
	  html: {method: delete}) do |f| %>
      <%= f.submit "Unfollow", class: "btn" %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
