<div class="card w-50">
  <nav class="panel">
    <div class="panel-block">
      <article class="media">
	<div class="media-left">
	  <figure class="image is-64x64">
	    <%= gravatar_image_tag(user.email, size: 64, alt: user.name) %>
	  </figure>
	</div>
	<div class="media-content">
	  <div class="content">
	    <p>
	      <strong><%= user.name %></strong><br />
	      <small><%= user.username %></small>
	    </p>
	  </div>
	</div>
      </article>
    </div>
    <div class="panel-block">
      <div class="">
	<div class="level-item has-centered-text">
	  <div>
	    <% if user_signed_in? %>
	    Tweets <%= user.tweets.count %>
	    <% else %>
	    <%= render 'follow_button', :user => User.find_by_username(params[:id]) %>
	    <% end %>
	  </div>
	</div>
	<div class="level-item has-centered-text">
	  <div>
	    <a class="nav-link">
	      <%= link_to 'following', following_user_path(user) %>
	      <%= user.following.count %>
	    </a>
	  </div>
	</div>
	<div class="level-item has-centered-text">
	  <div>
	    <%= link_to 'followers', followers_user_path(user) %>
	    <%= user.followers.count %>
	  </div>
	</div>
      </div>
    </div>
  </nav>
</div>
