<h3>User Followers: <%= @user.followers.count %></h3>

<% @user.followers.each do |follower| %>
<div>
  <%= gravatar_image_tag(@user.email, size: 64, alt: @user.name) %>
</div>
<div>
  <%= follower.username %>
  <%= render 'users/follow_button', user: follower %><br>
</div>
</figure>
<% end %>

<div>
  <%= link_to 'Back', :back %>
</div>
